header{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.bicycle_main {
    width: 100%;
    /* height: 1000px; */

}
.person {
    height: 160px;
    width: 160px;
    border-radius: 40px;
}

.title {
    text-align: center;
    border-bottom: 1px;
    border-style: solid;
}

section .About {
    width: 300px;
    text-align: center;
}

ul {
    display: flex;
}

li > img {
    height: 160px;
    width: 160px;
}