body {
    font-size: 0.9em;
}

img {
    max-width: 100%;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.wrapper {
    display: flex;
    justify-content: center;
    max-width: 960px;
    padding: 0 4%;
    text-align: center;
}

.profile {
    background: #393E46;
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    font-weight: bolder;
    letter-spacing: 0.05rem;
    font-size: 1.4rem;
    margin: 10px 0;
}
nav {
    margin-left: auto;
}
nav > ul  {
    display: flex;
}
nav > ul > li {
    margin-left: 30px;
}

.bicycle_main {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
    margin-bottom: 80px;
}

section.About {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.About > .title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}

.About > .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content > .person {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}
.text > h3 {
    font-size: 1rem;
    margin: 10px 0;   
}
.text > p {
    width: 100px;
    height: 100px;   
}

section.Bicycle {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    display: flex; 
    align-items: center;
    flex-direction: column;
}

.Bicycle > .title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}

.Bicycle > ul {
    display: flex;
    justify-content: space-between;
}

.Bicycle > ul > li {
    width: 32%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.Bicycle > ul > li >img {
    height: 95%;
}
.Bicycle > ul > li > h3 {
    font-size: 1rem;
    margin: 10px 0;
    font-weight: bolder;
}

footer {
    text-align: center;
    color: #383e45;
    padding: 10px 0;
    font-size: 0.5rem;
}

@media (max-width: 600px) {
    
    .About{
        flex-direction: column;
        align-items: center;
    }
    .Bicycle > ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav > ul > li {
        margin-left: 30px;
    }

    
    li > img {
        height: 160px;
        width: 160px;
    }
}